@media(min-width: 1050px) {
    .res-ham {
        display: none;
    }
}

@media(max-width: 1050px) {
    .header {
        height: 7vh;
    }

    .navbar {
        backdrop-filter: blur(21px);
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.8);
        flex-direction: column;
        border-radius: 1rem;
        height: 52vh;
        width: 100%;
        z-index: 9;
        position: relative;
        top: 4.9rem;
        right: -14px;
        transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1.2);
    }

    .nav-res {
        translate: -1369px 0px;
    }

    .ham {
        position: relative;
        top: 10px;
        right: 49px;
    }

    .list ul {
        flex-direction: column;
        gap: 2rem;
    }

    .img {
        flex-direction: column;
    }


    .hero {
        height: 90vh;
    }

    .seccontent1,
    .seccontent2,
    .seccontent3,
    .seccontent4 {
        width: 22rem;
        box-shadow: 0 0 14px rgb(63, 140, 181);
    }
    /* animation */
    /* .seccontent1{
        animation: animateViewleft linear;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }
    .seccontent2{
        animation: animateViewright linear;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }
    .seccontent3{
        animation: animateViewleft linear;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }
    .seccontent4{
        animation: animateViewright linear;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }
    @keyframes animateViewleft{
        0%{
            translate: -500px 0;
        }
        100%{
          translate: 0 0;
        }
    }
    @keyframes animateViewright{
        0%{
            translate: 500px 0;
        }
        100%{
          translate: 0 0;
        }
    } */


    .section1 {
        height: 182vh;
        grid-template-columns: repeat(1, 1fr);
    }

    /* .faq-container {
        height: 40vh;
        width: 60%;
        background-color: #ddeaef;
        animation: popup linear;
        animation-timeline: view();
        animation-range: entry 0 cover 40%;
    }

    @keyframes popup {
        0% {
            opacity: 0;
            translate: 0 500px;
        }

        100% {
            opacity: 1;
            translate: 0 0;
        }
    }
*/
} 

@media(max-width: 868px) {
    .faq-container {
        height: 47vh;
        width: 86%;
        background-color: #ddeaef;
    }

    .qna {
        width: 91%;
    }

    .section2 {
        height: 57vh;
    }

    .faq {
        height: 8vh;
        font-size: 1.2rem;
    }

    .qna h3 {
        font-size: 1rem;
    }
}

@media(max-width: 495px) {
    .owner-img img {
        height: 14rem;
        width: 18rem;
    }

    .hero .text1 {
        font-size: 2.5rem;
    }

    .hero .text2 {
        font-size: 1.5rem;
    }

    .hero .text3 {
        font-size: 1.2rem;
    }

    .secimg img {
        height: 10rem;
        width: 15rem;
    }

    .seccontent1,
    .seccontent2,
    .seccontent3,
    .seccontent4 {
        width: 20rem;
    }
}